@media screen and (min-width: 768px){
	.cinematic{
		background-color: black;
		min-height: 100%;
		position: relative;
	}

	.cinematic video{
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}

	.header-overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.cinematic{
	background-color: black;
	min-height: 720px !important;
}

.header-overlay{
	max-height: 720px !important;
}

#Schedule{
	padding-top: 20px !important;
}

.btn-select {
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	color: gray;
}