<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE-Edge">
		<meta name="google-site-verification" content="clBCUAIsrx6jCRIpU0gOMrsygGiyZHts4no5ls89zJA" />
		
		<title>UGAHacks - Learn. Create. Share – Coming Soon!</title>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script type="text/javascript" src="js/submit.js"></script>
	</head>
	<body>
		<div class="container">
			<%= image_tag("logo.png", alt: " uga hackslogo", id:"logo") %>
			
			<h2>OCTOBER 23RD-25TH</h2>
			<h3>LAMAR DODD SCHOOL OF ART</h3>
			
			<div class="emailSubmission">
			<%= form_for Subscription.new,  :html => {:id => "emailSubmission"}  do |f| %>
          <div class="field">
            <%= f.text_field :email, id:'emailInput'%>
          </div>
          <div class="actions">
            <%= f.submit "I want in", id: 'emailSubmit' %>
          </div>
          <% end %>
			</div>
		</div>
	</body>
</html>
