<div id="main-content" class="container">
	<div class="row text-center">
		<%= image_tag("logo.png",
		class: "img-responsive",
		alt: "ugahacks logo",
		id: "logo"
		) %>
	</div>
	<div class="jumbotron spotlight">
		<h1>36 hours. 1 hackathon.</h1>
		<h2>Join us for an event full of motivated hackers, just like you.</h2>
		<a href="#register"><div class="btn btn-danger btn-lg">Register</div></a>
	</div>

	<section id="about" class="row" data-sr>
		<div class="col-md-12">
			<h2 class="header">We are calling all the <span class="red-text">dreamers</span>, <span class="red-text">movers</span>, and <span class="red-text">creators</span> to do something epic at this hackathon.</h2>
			<p>This is an event that calls you, the hacker, to create something awesome. We give you the resources to fuel your creative engine, so you can ETC. If youwant to spend a weekend working with other brilliant creators, meeting established mentors, and getting free swag, then this is the event for you.</p>
		</div>
	</section>
	<section id="faq" class="row" data-sr>
		<div class="col-md-12">
			<h2 class="header">You got <span class="red-text">questions</span>, we have <span class="red-text">answers.</span></h2>
			<p>
				<b>What's the application process look like?</b>
				We're looking for creative and innovative people with a set of skills that can contribute to a project -- mobile, web, hardware, design, or anything else really cool.<br><br>
				<b>When will applications close?</b>
				The application will close June 5th at 11:59 EDT.<br><br>
				<b>Who can apply?</b>
				Any college, university, or high school student 15 years or older on September 1st is eligible to apply.<br><br>
			</p>
		</div>
	</section>
	<section id="sponsors" class="row" data-sr>
		<div class="col-md-12">
			<h2 class="header">The <span class="red-text">sponsors</span> making our event possible.</h2>
		</div>
	</section>
	<section id="contact" class="row" data-sr>
		<div class="col-md-12">
			<h2 class="header">Contact</h2>
			<p>You can contact us at <a href="mailto:help@ugahacks.com">help@ugahacks.com</a>.</p>
		</div>
	</section>
	<section id="register" class="row" data-sr>
		<div class="col-md-12 text-center">
			<iframe src="https://jaicob.typeform.com/to/rXE0ra" scrolling="no"></iframe>
		</div>
	</section>
</div>