body {
	color: white;
	background-color: #252824;
	font-family: 'Open Sans', sans-serif;
}

.main-content {
	padding-left: 225px;
	padding-right: 225px;
}

.btn-reg {
	background-color: #EE2F33;
	width: 200px;
	height: 50px;
	font-size: 18pt;
	border-radius: 5px;
	cursor: pointer;
}
.btn-reg p {
	text-align: center;
}

.nav ul {
	float: right;	
}

a {
	text-decoration: none;
	color: white
}

.nav ul li {
	text-decoration: none;
	display: inline-block;
}

#contact {
	background-color: white;
}

.emphasis {
	color: #EE2F33;
}

#contact {
	padding-left: 225px;
	padding-right: 225px;
}
#contact h1 {
	color: black;
}