// Place all the styles related to the single_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sponsor-row
	margin-bottom: 15px

*:not(.red-text)
	color: white

.red-text
	color: #EE3031

body
	background-image: url("bg.png")
	background-color: #1a1a1a
	#main-content
		padding-top: 50px
		margin-top: 50px
		text-align: center
		.spotlight
			height: 100vh

#logo
	margin: auto
section
	padding: 100px 0 100px 0
	&.row
		min-height: 300px
	.header
		text-size: 1.5em
		font-family: Helvetica
		margin-bottom: 20px
.jumbotron.spotlight
	background: transparent
#red-btn
	margin-top: 25px
	background-color: #EE3031
#red-btn:hover
	color: #FFFFFF
	cursor: auto
.progress-bar
	background-image: none
	background-color: #EE3031
.progress-bar-ugahacks
	background-image: none
	background-color: #EE3031
#arrow-d
	margin-top: 25px
	width: 36px
	margin-left: auto
	margin-right: auto
#arrow-u
	margin-bottom: 0px
	width: 36px
	margin-left: auto
	margin-right: auto
#arrow
	margin-top: 75px
	width: 36px
	margin-left: auto
	margin-right: auto
#about
	padding-left: 100px
	padding-right: 100px
.panel
	margin-left: auto
	margin-right: auto
	height: 200px
	.panel-heading
		background-image: none
		background-color: #EE3031
		.panel-title
			color: #FFFFFF
	.panel-body
		color: #000000
		text-align: left
.ugahacks-panel
	border: none
	.panel-heading
		background-image: none
		background-color: #EE3031
		border: none
#contact
	margin-bottom: 100px
#reg-container
	height: 95%
	background-color: white
	width: 100%
#register
	background: white
	color: black
	text-transform: uppercase
	padding: 0
	margin-top: 50px
	margin-bottom: 50px
	border-radius: 10px
	margin-right: auto
	margin-left: auto
	width: 100%
	iframe
		border: 0
		display: block
		width: 100%
		height: 500px