// Place all the styles related to the single_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background-image: url("bg.png");
	background-color: #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	   background-size: cover;
}

* {
/* 	border: 1px solid white; */

}

.container {
	margin-top: 100px;
	align-items: center;
	text-align: center;
}

#logo {
	position: relative;
}


h2,
h3 {
	color: #ffffff;
}

h2 {
	font-family: gotham medium, sans-serif;
	font-size: 40pt;
	margin-top: 5px;
	padding: 0;
}

h3 {
	font-family: gotham medium, sans-serif;
	font-size: 26.5pt;
	margin-top: -50px;
}


#emailInput {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #ee2f33;
	background: none;
	color: white;
	width: 600px;
	padding: 15px 0px 0px 0px;
}

input {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 5px;
}

input-placeholder {
	font-family: gotham book;
	font-size: 30pt;
	
}

#emailSubmit {
	color: #ffffff;
	background: #ee2f33;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	font-family: gotham book, sans-serif;	
	margin-top: 25px;
	margin-bottom: 50px;
	font-size: 15pt;
	cursor: pointer;
}

::-webkit-input-placeholder {
   text-align: center;
   font-family: gotham book, sans-serif;
   font-size: 15pt;
}
::-webkit-input [type="text"] {
	text-align: center;
	font-family: gotham book, sans-serif;
	font-size: 30pt;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center; 
}

:-ms-input-placeholder {  
   text-align: center; 
}

@media (max-width: 480px) {
	html {
		background-size: auto;
	}
	#logo {
		height: 50%;
		width: 50%;
	}
}